

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700|Montserrat:400,700);

body {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

body, body * {
    padding: 0;
    margin: 0;
    outline: 0;
    border: none;
    box-sizing: border-box;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
